<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Welcome to your Flask app!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ducimus quis cumque. Soluta hic reprehenderit inventore porro doloremque vitae nostrum enim omnis nam animi necessitatibus corporis, labore aut esse quibusdam nemo laborum sit maxime expedita facere. Sequi, voluptatibus. Veritatis, fugiat voluptate. Rerum veritatis, nisi reiciendis, laudantium, magnam accusamus quia consequuntur mollitia recusandae et debitis voluptate ea? Totam ratione esse culpa explicabo dolore voluptates amet rem voluptas.</p>
</body>
</html>
